<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/", method="post">
            Name <br>
            <input type="text" name="name" placeholder="Enter your Name" required> <br>
            Mail-id <br>
            <input type="text" name="mail" placeholder="Enter your college mail-id" required> <br>
            D No <br>
            <input type="text" name="dno" placeholder="Enter your Dno" required> <br>
            Department <br>
            <input type="text" name="dept" placeholder="Enter your Department" required> <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>