<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
    <div class="inner-area">
        <center> 
            <h1>e-suggest App</h1>
            <p><i>-- enter your details correctly --</i></p>
        </center>
        <form action="/" method="post" >
            <span class="form">
                <input class="form__input" type="text" name="name" id="" placeholder=" " required> <br>
                <label class="form__label">Name</label>
            </span>

            <span class="form">
                <input class="form__input" type="text" name="dno" id="" placeholder=" " required> <br>
                <label class="form__label">Dno</label>
            </span>

            <span class="form">
                <input class="form__input" type="text" name="mail" id="" placeholder=" " required> <br>
                <label class="form__label">Mail</label>
            </span>

            <span class="form">
                <!-- <input class="form__input" type="text" name="dept" id="" placeholder=" " required> <br> -->
                <select class="form__input" name="dept" id="" required>
                    <option disabled selected value></option>
                    <option value="M.Sc Data Science">M.Sc Data Science</option>
                </select>
                <label class="form__label">Department</label>
            </span>

            <span class="button__form">
                <input class="button" type="reset">
                <input class="button" type="submit">
            </span>
        </form>
    </div>
</body>
</html>